* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Estilos del header */

header .header_div_superior {
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}

header .header_img_logo {
  height: 75px;
  padding-right: 5px;
}

header .header_title {
  font-size: 3.2rem;
  padding-bottom: 5px;
  padding-right: 0px;
}

/* Diseño del nav con flex wrap, en caso de usarse hay que comentar los dos siguientes estilos
  
  header .nav_right_section {
    flex-wrap: wrap;
    justify-content: center;
  }
  */

header .header_div_inferior {
  flex-direction: column;
}

header .container_login {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 5px;
  justify-content: center;
}

header .header_nav_container {
  width: 350px;
}

header .header_nav {
  width: 80vw;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
}

header .nav_right_section {
  width: 100%;
}

ul li .section {
  font-size: 2.2rem;
  font-weight: 500;
}

header #last_item_section {
  padding-right: 0px;
}

header .header_div_inferior {
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

header .header_relleno {
  width: 0%;
}

header .nav_login_section {
  padding-left: 0px;
}

header .login_section {
  font-weight: 400;
  font-size: 2rem;
}

/*Estilos body*/

    .scrollable {
      gap: 30px;
      justify-content: center;
    }
  
    .subject-item, .course-item {
      flex: 0 0 200px;
    }
  
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    .content {
      width: 85vw;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }

    .subject-item img, .course-item img {
      max-height: 70%;
      max-width: 70%;
      border-radius: 8px;
      margin-bottom: 0px;
    }

  

/*Estilos del footer*/

footer {
  height: auto;
}

footer .footer_main_container {
  flex-direction: column;
}

footer .footer_left_section {
  font-size: 2.6rem;
}

footer .footer_middle_section {
  padding-bottom: 15px;
}

footer .footer_middle_section a {
  font-size: 2.2rem;
}

footer .footer_right_section {
  padding-bottom: 5px;
}

footer img {
  height: 30px;
}

footer #footer_last_img {
  padding-right: 0px;
}
